{% extends "menu.html" %}
{% block titulo %}Talento humano{% endblock %}
{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/servicio_tecnico/Asignar.css' %}" />
<link rel="stylesheet" href="{% static 'css/article.css' %}" />
<article>
    <div class="texto">
        <h1>Talento humano</h1>
        <h2>Cliente</h2>
    </div>
    <div style="height: 90%">
        <div class="card" style="opacity: 90%">
            <div class="card-header">Detalles del cliente</div>
            <div class="card-body">
                <h4 class="card-title">Datos del cliente</h4>
                <form method="post" class="formulario">
                    {% csrf_token %}
                    <div class="formulario-contenedor">
                        {% for campo in formularioCliente %}
                            <div class="mb-3 form-item">
                                <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="{{ campo.id_for_label }}"
                                    name="{{ campo.name }}"
                                    value="{{ campo.value|default_if_none:'' }}"
                                    disabled
                                    readonly
                                />
                                <input type="hidden" name="{{ campo.name }}" value="{{ campo.value|default_if_none:'' }}">
                                <div class="col-12 help-text"> {{ campo.errors }} </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="btn btn-warning" href="{% url 'ClienteTabla' %}" role="button">Volver</a>
                </form>                
            </div>
        </div>
    </div> 
</article>
<footer></footer>
{% endblock %}
